.other-main {
    width: 80%;
    height: 100vh;
}

.other-info {
    width: 80%;
    height: 50%;
    gap: 3%;
}

.other-input {
    flex: 0.6;
    Width: 15rem;
}

.other-text {
    flex: 3;
    width: 100%;
}

.other-confirm {
    flex: 1;
    width: 10rem;
}

.other-area {
    width: 70%;
    flex: 2;
}

@media (max-width: 650px) {
    .other-area {
        width: 20rem;
    }
}

.contact {
    width: 100%;
    height: 100vh;
    gap: 1%;
    margin-top: 4%;
}

.contact-info {
    flex: 1.75;
    width: 100%;
    gap: 3%;
}

.flex1 {
    flex: 1;
}

.contact-text {
    width: 50%;
    height: 21vh;
}

@media (max-width: 600px) {
    .contact-text {
        width: 90%;
    }
}



.contact-paragraph {
    width: 80%;
    font-size: 1.3rem;
}

.contact-head {
    margin-top: 2rem;
}

