.normal-main {
    width: 80%;
    height: 100%;
}

.wide {
    width: 100%;
}

.page-font {
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.full-size {
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gray-back {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    padding-bottom: 3%;
}

.shadow {
    box-shadow: 0px 5px 12px rgba(0,0,0,0.3)
}

.round-out {
    border-radius: 8px;
}

.flex1 {
    flex: 1;
}

.space-around {
    justify-content: space-around;
}





body {
    margin: 0;
    overflow-x: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ba57c7;
    background: linear-gradient(184deg, rgba(186, 87, 199, 0.88) 37%, rgba(237, 221, 83, 1) 100%);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.siteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: relative;
    margin-bottom: 2%;
}

.card-render {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 200;
    background-color: rgba(0,0,0,0.4);
}

.card-render.hidden{
    display: none;
}

.animate {
    animation: slideUp 0.2s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.display-card {
    display: flex;
    justify-content: center;
    width: 70rem;
    height: 40rem;
    background-color: rgba(250, 223, 242, 1);
    border-radius: 15px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.4);
}

@media (max-width: 350px) {
    .display-card {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        border-radius: 0px;
        align-items: flex-start;
    }
}

@media(max-height: 540px) {
    .display-card {
        overflow-y: auto;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }
}

.nav-bar {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    background-color: purple;
    z-index:100;
}

.site-message {
    flex: 1;
    justify-content: flex-start;
    font-family: 'Brush Script MT', cursive;
    font-size: 1.7rem;
    padding-left: 8%;
    padding-right: 1%;
}

@media (max-width: 420px) {
    .site-message {
        font-size: 1.2rem;
    }
}

@media (max-width: 300px) {
    .site-message {
        font-size: 1rem;
        padding-left: 4%;
    }
}

@media (max-width: 275px) {
    .site-message {
        display: none;
    }
}

.nav-button-container {
    display: flex;
    flex-direction: row;
    flex: 0.3;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
    gap: 1.5%;
}

.nav-button-design {
    width: 40%;
    height: 60%;
    border: none;
    background-color: rgba(255,255,255, 0.7);
    font-size: clamp(0.8rem, 2vw, 1rem);

}

.nav-button-design:hover {
    background-color: rgba(237, 221, 83, 1);
    box-shadow: 0px, 6px, 18px, rgba(0,0,0,1);
    border: black solid 1px;
}

.header {
    display: flex;
    min-height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1rem;
    padding: 1rem;
}

.headContainer {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mainPageTitle {
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
    font-weight: bold;
    font-size: clamp(25px, 8vw, 50px);
    margin: 0; 
    padding: 0;
}

.cauldronImg {
    margin: 0;
    padding: 0;
    width: 2rem;
    height: auto;
}



.infoSection {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.infoTab {
    display: flex;
    width: 75%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .infoSection {
        margin-bottom: 3%;
    }
}

.windowText {
    font-size: clamp(18px, 2vw, 25px);
    text-align: center;
    padding: 1rem;
}

.bolded {
    font-weight: bold;
}

.buttonContent {
    display: flex;
    flex-direction: row;
    height: 60vh;
    gap: 3%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .buttonContent {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }
}

.choiceButton {
    position: relative;
    display: flex;
    width: 25%;
    height: 80%;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

@media (max-width: 600px) {
    .choiceButton {
        width: 75%;
        height: 35vw;
    }
}

.choiceButton:hover {
    background-color: purple;
}

.butImgContainer img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.butTitleDiv {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    justify-content: flex-start;
    align-items: flex-end;
}

.titleHouse {
    flex: .1;
    width: 50%;
    background-color: #ba57c7;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

.buttonTitle {
    font-size: clamp(15px, 3vw, 25px);
}

.moreButtons {
    display: flex;
    flex-direction: row;
    height: 60vh;
    gap: 3%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .moreButtons {
        flex-direction: column;
        margin-bottom: 3%;
        height: auto;
        justify-content: flex-start;
        padding-top: 10px;
        gap: 10px;
    }
}

.largeButton {
    position: relative;
    display: flex;
    width: 35%;
    height: 80%;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

@media (max-width: 600px) {
    .largeButton {
        width: 75%;
        height: 35vw;
    }
}

.largeButton:hover {
    background-color: purple;
}

.service-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.article-head {
    display: flex;
    flex: .75;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article-text {
    display: flex;
    flex-direction: column;
    flex: 2.5;
}

.service-title {
    font-size: clamp(25px, 4vw, 40px);
}

.exit-button {
    border-radius: 4px;
    background-color: rgb(212, 148, 255);
}

.exit-button:hover {
    background-color: rgb(237, 221, 83);
    transform: scale(1.1);
}
.service-text {
    font-size: clamp(18px, 1.5vw, 25px);
}

.main-list {
    font-size: clamp(18px, 1.5vw, 25px);
}

.button-div {
    display: flex;
    flex: 1.5;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.schedule-btn1 {
    border-radius: 6px;
    width: 15rem;
    height: 3rem;
    font-size: 20px;
    background-color: rgb(212, 148, 255);
}

.schedule-btn1:hover {
    background-color: rgb(237, 221, 83);
    transform: scale(1.1);
    font-weight: bold;
}

.price { 
    font-size: clamp(16px, 1.3vw, 24px);
}

.bolded-price {
    font-weight: bold;
}

.before-header {
    padding: 1rem;
}

.before-after {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.before-after-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.photo-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    aspect-ratio: 1/1;
}

.photo-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.submission-button {
    width: 13rem;
    height: 3rem;
}

.submission-button:hover {
    background-color: rgb(237, 221, 83);
    border: black solid 1px;
    width: 12%;
    height: 17%;
}

.label {
    font-weight: bold;
    font-size: 1.2rem;
}

.emailInput {
    width: 13rem;
    height: 2rem;
}

.secret { 
    display: none;
}




