<DOCTYPE! html>
<html>
<head>

<base target = "_top">

<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
<meta charset = "UTF-8">

<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">

{% block page_css %}
{% endblock %}

</head>
<body>

<div class ="background"></div>

<div class="siteContainer">

    <header class = "nav-bar">

        <div class = "site-message">
            Quality cleaning so good, its like magic!
        </div>

        <div class = "nav-button-container">

            <button class = "nav-button-design" onclick = "returnHome()">
                Home
            </button>
                
            <button class = "nav-button-design" onclick = "goAbout()">
                About
            </button>

            <button class = "nav-button-design" onclick = "goContact()">
                Contact
            </button>

        </div>

    </header>

{% block content %}
{% endblock %}

</div>

<script src = "{{ url_for('static', filename = 'js/app.js') }}"></script>

{% block script %}
{% endblock %}

</body>
</html>