{% extends "base.html" %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/services.css') }}">
{% endblock %}

{% block content %}

<main class="cleaning-page column-center">

    <section class="column-center gray-back">

        <header class = "cleaning-header flex-center">
            <h1 id="serviceType">Cleaning: Hex and Shine's Standard service</h1>
        </header>

        <section class="service-information flex-center">

            <p class="page-font">
                Cleaning tends to be an uphill battle and with the ever changing landscape of our busy lives sometimes there just isn't 
                the space to get things done how we truly would like and when we do get farther, its often short-lived, as the dust, grime,
                and buildup of life comes back with a vengeance. That's why Hex and Shine would like to offer a helping hand, with this one 
                time cleaning service you will see and feel the difference. whether you are a business owner with a grimy workspace in need of 
                dedicated attention or you are simply looking for a quality clean around your home. Hex and Shine has the right tools, the right
                care and a pinch of cleaning magic for any job.
                <br>
                <br>
                <span class="bold">We work directly with our clients needs but our typical service includes: </span>
            </p>

        </section>

        <section class="cleaning-list row-center">

            <ul class="page-font flex1">
                <li>Sweep</li>
                <li>Mop</li>
                <li>Dust</li>
                <li>Vacuum</li>
                <li>Wipe Switch Plates</li>
                <li>Wipe Outlets</li>
            </ul>

            <ul class="page-font flex1">
                <li>Surfaces Cleaned</li>
                <li>Exterior Appliance Clean</li>
                <li>Trash Taken Out</li>
                <li>Toilet Cleaning</li>
                <li>Shower/Bath Cleaning</li>
                <li>Sinks and Faucets</li>
            </ul>

        </section>

        <section class="information page-font bold">
            <p>
                Our typical Process takes 2 - 3 hours but can vary largely depending on condition and scope,the process can be adjusted as required/specified
                as needed and communicated.
                <br>
                <br>
                ***If interested enter your email address and select up to 3 dates below*** 
                <br>
                After you have selected your preferred times we will reach out to you via email to schedule. Or give Hex and Shine a call
                at 619-778-7144.                
        </section>

    

        <section class="column-center calendar-section">

                <div class = "email-section flex-center">
                    <label class="label" for="email">Email</label>
                    <input
                        type = "email"
                        id = "email"
                        autocomplete="email">
                </div>

                <div class ="calendar-container">
                    <div id="calendar"></div>
                </div>

                <div class="button-container">
                    <button id="submitDays">Select Times</button>
                </div>

            </div>

            <div id = "timeModal" class="pop-up column-center hidden full-size">
            
                <p class="timeText bold">Select the most convenient starting time for your cleaning service in each section below,
                    leave any notes regarding special care needs or service requirements in the note area and 
                    press confirm and we will get back to you reasonably quickly. REMINDER: Typical service
                    length is 2-4 hours and cleaning is charged hourly at $40 per hour + $15 Service Fee.
                <p>

                <div class="card-container">

                    <div class="card column-center" id="card1">
                        <h3></h3>
                        <div class="flex-center">
                            <img class="calendar-img" src="/static/images/calendar.png">
                        </div>
                        <h3></h3>
                        <select class = "time-selector" id="time1">
                        </select>
                    </div>

                    <div class="card column-center" id="card2">
                        <h3></h3>
                        <div class="flex-center">
                            <img class="calendar-img" src="/static/images/calendar.png">
                        </div>
                        <h3></h3>
                        <select class = "time-selector" id="time2">
                        </select>
                    </div>

                    <div class="card column-center" id="card3">
                        <h3></h3>
                        <div class="flex-center">
                            <img class="calendar-img" src="/static/images/calendar.png">
                        </div>
                        <h3></h3>
                        <select class = "time-selector" id="time3">
                        </select>
                    </div>

                </div>

                <textarea id="notes" class="shadow" placeholder="Enter any special notes or concerns about scheduling or your service here"></textarea>

                <div class="row-center wide buttonHouse">
                    <button class="confirm shadow" onclick="cancelSchedule()">Cancel</button>
                    <button id="confirmBookingBtn" class="confirm shadow" onclick="getItems()">Confirm</button>
                </div>
            </div>

        </section>
    
    </section>

    <div id="successPop" class="hidden successPop full-size gray-back flex-center">
        <div class = "column-center successMessage">
            <section class="flex-center wide">
                <p>Thank you for scheduling, we will get back to you very shortly to
                    confirm your scheduled service with you.
                </p>
            </section>
            <section class="flex-center wide">
                <button class="confirm" onclick="returnCleaning()">Return to Services</button>
            </section>
        </div>
    </div>

</main>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script src = "{{ url_for('static', filename = 'js/index.global.min.js') }}"></script>
{% endblock %}