{% extends "base.html" %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/services.css') }}">
{% endblock %}

{% block content %}

<main class="cleaning-page column-center">

    <section class="column-center gray-back">

        <header class = "cleaning-header flex-center">
            <h1 id="serviceType">Cleaning: Hex and Shine's Standard service</h1>
        </header>

        <section class="service-information flex-center">

            <p class="page-font">Description of the contents to come within this page. Mainly the list of objectives while cleaning someones home and the timelengths
                it will take to accomplish these objectives below that, and then when that list is done a calendar for availability plus a warning 
                about making sure that the cleaning service was meant to be selected as well as an input for an email(this should be first) and a text
                area for notes.
            </p>

        </section>

        <section class="cleaning-list flex-center">

            <ul class="page-font">
                <li>sweep</li>
                <li>mop</li>
                <li>dust</li>
                <li>vacuum</li>
                <li>wipe switch plates</li>
                <li>wipe outlets</li>
            </ul>

        </section>

        <section class="information page-font bold">
            <p>
                Process takes 2 - 3 hours and can be adjusted as required/specified
                <br>
                <br>
                If interested please provide your email and a window of availability in the fields below
                and you will be contacted promptly to schedule and confirm your appointment.
            </p>
        </section>

    </section>

    <section class="column-center calendar-section">

            <div class = "email-section flex-center">
                <label for="email">Email</label>
                <input
                    type = "email"
                    id = "email"
                    autocomplete="email">
            </div>

            <div class ="calendar-container">
                <div id="calendar"></div>
            </div>

            <div class="button-container">
                <button id="submitDays">Select Times</button>
            </div>

        </div>

        <div id = "timeModal" class="pop-up column-center hidden full-size">
        
            <h3>Select Time Window</h3>

            <div class="card-container">

                <div class="card column-center" id="card1">
                    <h3></h3>
                    <div class="flex-center">
                        <img class="calendar-img" src="/static/images/calendar.png">
                    </div>
                    <h3></h3>
                    <select class = "time-selector" id="time1">
                    </select>
                </div>

                <div class="card column-center" id="card2">
                    <h3></h3>
                    <div class="flex-center">
                        <img class="calendar-img" src="/static/images/calendar.png">
                    </div>
                    <h3></h3>
                    <select class = "time-selector" id="time2">
                    </select>
                </div>

                <div class="card column-center" id="card3">
                    <h3></h3>
                    <div class="flex-center">
                        <img class="calendar-img" src="/static/images/calendar.png">
                    </div>
                    <h3></h3>
                    <select class = "time-selector" id="time3">
                    </select>
                </div>

            </div>

            <textarea id="notes" class="shadow" placeholder="Enter any special notes or concerns about scheduling or your service here"></textarea>

            <button id="confirmBookingBtn" class="confirm shadow" onclick="getItems()">Confirm</button>
        
        </div>

    </section>

</main>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script src = "{{ url_for('static', filename = 'js/index.global.min.js') }}"></script>
{% endblock %}