{% extends "base.html" %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/other.css') }}">
{% endblock %}

{% block content %}

<main class="column-center contact">

    <header class="contact-head">
        <h1>Contact Hex and Shine</h1>
    </header>

     <section class=" contact-paragraph flex1">

        <p>
            Contact us about anything. Good service, bad service? We'd like to know what you think? Have a question? Ask above! Or contact
            Hex and Shine through the phone number listed: hours of operation are from <span class="bold">10am to 4pm Monday through Friday </span>
            We will also do our best to get back to you via text, social media and email. We appreciate your business and your questions.

            <br>
            <br>
            Sincerely,
            <br>
            Vanessa
        </p>

    </section>

    <section class = "column-center contact-info">

        <label class="label" for="email">Email</label>
        <input 
        type="email"
        autocomplete="email"
        id="email">

        <textarea class="contact-text" placeholder="Your message here..."></textarea>

        <button class = "submission-button round-out">Submit</button>

    </section>

    <section class="flex1">

        <h2>619-778-7144</h2>
        <h2>Email coming soon...</h2>

    </section>

</main>

{% endblock %}