{% extends "base.html" %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/services.css') }}">
{% endblock %}

{% block content %}

<main class="cleaning-page column-center">

    <section class="column-center gray-back">

        <header class = "cleaning-header flex-center">
            <h1 id="serviceType">Landscaping and Yard Care</h1>
        </header>

        <section class="service-information flex-center">

            <p class="page-font">
                Weeds, weeds, weeds. We all know what the biggest threat to a beautiful landscape is and without a doubt its weeds, 
                but thats not the only thing, those beautiful trees leave leafs everywhere, the ground cover coming up onto the sidewal,
                and all the dead plant matter still left around flower beds and planter boxes, its quite the job to keep our yards and 
                gardens looking fresh and cared for and for those times where you want it done and you just dont want to do it yourself.
                Hex and shine is here.
            </p>

        </section>

        <section class="cleaning-list flex-center">

            <ul class="page-font">
                <li>weeding</li>
                <li>trimming</li>
                <li>raking</li>
                <li>planting</li>
                <li>sweeping</li>
                <li>blowing and more</li>
                <li>Pressure washing on request, additional rates may apply.</li>
            </ul>

        </section>

        <section class="information page-font bold">
            <p>
                Process takes 2 - 3 hours and can be adjusted as required/specified
                <br>
                <br>
                If interested please provide your email and a window of availability in the fields below
                and you will be contacted promptly to schedule and confirm your appointment.
            </p>
        </section>

    </section>

    <section class="column-center calendar-section">

            <div class = "email-section flex-center">
                <label class="label" for="email">Email</label>
                <input
                    type = "email"
                    id = "email"
                    autocomplete="email">
            </div>

            <div class ="calendar-container">
                <div id="calendar"></div>
            </div>

            <div class="button-container">
                <button id="submitDays">Select Times</button>
            </div>

        </div>

        <div id = "timeModal" class="pop-up column-center hidden full-size">
        
            <p class="timeText bold">
                Select the most convenient starting time for your cleaning service in each section below,
                and we will get back to you reasonably quickly. <span style="color: yellow;">REMINDER: Typical service
                length is 2-4 hours and cleaning is charged hourly at</span> $40 <span style="color: yellow;">per hour</span> + $25 <span style="color: yellow;">Service Fee.</span>
            </p>

            <div class="card-container">

                <div class="card column-center" id="card1">
                    <h3></h3>
                    <div class="flex-center">
                        <img class="calendar-img" src="/static/images/calendar.png">
                    </div>
                    <h3></h3>
                    <select class = "time-selector" id="time1">
                    </select>
                </div>

                <div class="card column-center" id="card2">
                    <h3></h3>
                    <div class="flex-center">
                        <img class="calendar-img" src="/static/images/calendar.png">
                    </div>
                    <h3></h3>
                    <select class = "time-selector" id="time2">
                    </select>
                </div>

                <div class="card column-center" id="card3">
                    <h3></h3>
                    <div class="flex-center">
                        <img class="calendar-img" src="/static/images/calendar.png">
                    </div>
                    <h3></h3>
                    <select class = "time-selector" id="time3">
                    </select>
                </div>

            </div>

            <textarea id="notes" class="shadow" placeholder="Enter any special notes or concerns about scheduling or your service here"></textarea>

            <div class="row-center wide buttonHouse">
                <button class="confirm shadow" onclick="cancelSchedule()">Cancel</button>
                <button id="confirmBookingBtn" class="confirm shadow" onclick="getItems()">Confirm</button>
            </div>
        
        </div>

    </section>

    <div id="successPop" class="hidden successPop full-size gray-back flex-center">
        <div class = "column-center successMessage">
            <section class="flex-center wide">
                <p>Thank you for scheduling, we will get back to you very shortly to
                    confirm your scheduled service with you.
                </p>
            </section>
            <section class="flex-center wide">
                <button class="confirm" onclick="returnLandscape()">Return to Services</button>
            </section>
        </div>
    </div>

</main>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script src = "{{ url_for('static', filename = 'js/index.global.min.js') }}"></script>
{% endblock %}